.header{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.cardLists{
    margin-top:0.75rem;
}

.card{
    border: 0.15rem solid gray;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-bottom:0.5rem;
}

.repositoryName{
    margin-top: 0rem;
    margin-bottom: 0.2rem;
}

.productURL:hover{
    color: yellowgreen
}
